.basket-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 15px 15px;
  &__left {
    padding: 15px;
    //border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
  }
  &__right {
    .btn-cta {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      color: white;
      font-size: 1.1rem;
      font-weight: bold;
      padding: 15px 0;
      margin-top: 15px;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

.products-list {
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    padding: 10px;
    border: 1px solid #f8f9fa;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

    &__img {
      width: 100px;
      height: 100%;
      min-height: 115px;
      object-fit: cover;
      object-position: center;
      margin-right: 20px;
      border-radius: 5px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .meta-data {
        display: flex;
        flex-direction: column;
        .name {
          font-size: 1.2rem;
          font-weight: bold;
          width: 75%;
        }
        .count {
          margin-bottom: 10px;
        }
      }
      .remove-icon {
        width: 30px;
        height: 30px;
        color: #ddd;
        margin-right: 20px;
      }
    }
  }
}

.pricing-card {
  padding: 25px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
  .title {
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .discount {
      text-decoration: line-through;
      color: #eee;
    }
  }
}
