.login-card {
  padding: 25px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
  }
  &__body {
  
  }
}

