.custom-input {
  display: flex;
  align-items: center;
  input {
    display: none;

    &:checked + .marker::before {
      content: '\2713';
      position: absolute;
      left: 2px;
      top: -12px;
      width: 50%;
      height: 50%;
      color: $secondary-color;
      border-radius: 50%;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .marker {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    margin-right: 7px;
  }
}
